body {
  padding: 10px;
  position: fixed;
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;
}

body * {
  box-sizing: border-box;
}

#add-container {
  width: 49%;
  height: 300px;
  float: left;
}

#query {
  width: 100%;
  height: 220px;
  font-family: monospace;
}

#inspect-container {
  float: right;
  height: 300px;
  position: relative;
  width: 49%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#inspect-query {
  position: absolute;
  right: 150px;
  left: 0;
}

.inspect-header {
  height: 20px;
  min-width: 20px;
  margin-top: -5px;
  margin-bottom: 3px;
  color: gray;
  font-family: monospace;
}

#inspect-results {
  width: 100%;
  height: 265px;
  color: gray;
  overflow: scroll;
  float: left;
  margin-top: 5px;
  padding: 5px
}

#buttons {
  float: right;
}

#name {
  width: 75%;
  float: right;
  font-family: monospace;
}

#query-tree {
  float: left;
  width: 100%;
  overflow: scroll;
}

.nvd3 table tbody tr:first-child {
  display: none;
}

.nvd3 table tr td {
  font-family: monospace;
  padding-right: 4px;
}

.action {
  font-family: sans-serif;
}

.btn {
  padding: 0px 8px;
}