body {
  min-width: 1170px;
}

body * {
  box-sizing: border-box;
}

#edit-container {
  padding: 10px;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
}

#query-container {
  width: 38%;
  height: 220px;
  float: left;
  position: relative;
}

#list-container {
  width: 60%;
  height: 220px;
  float: right;
  position: relative;
}

#targets {
  margin-top: 5px;
}

.monospace {
  font-family: monospace;
}

#targets tr td {
  vertical-align: middle;
  padding: 0px 5px;
}

#graph-container {
  top: 250px;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  text-align: center;
}

#graph {
  width: 100%;
  height: 100%;
}

#baseUrl {
  height: auto;
  font-family: monospace;
}

#query {
  width: 100%;
  height: 140px;
  font-family: monospace;
}

#shift {
  font-family: monospace;
  width: 100px;
}

#label {
  width: 150px;
}

.line-plus-bar {
  display: none;
}

.multi {
  display: none;
}

#query-options {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#graph-options {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#from {
  font-family: monospace;
  width: 50px;
}

#until {
  font-family: monospace;
  width: 50px;
}

#variables {
  width: 180px;
  height: 21px;
  display: none;
  font-family: monospace;
  vertical-align: top;
  position: absolute;
  margin-left: 10px;
  padding: 0px 5px;
  z-index: 1;
}

#chart {
  height: auto;
  width: 200px;
  font-family: monospace;
}

#bar {
  height: auto;
  width: 70px;
  font-family: monospace;
}

#type {
  width: 70px;
  height: auto;
  font-family: monospace;
}

#yAxis {
  height: auto;
  width: 70px;
  font-family: monospace;
}

#graph-header {
  display: none;
  text-align: left;
}

#graph-menu:hover {
  cursor: pointer;
}

#graph-menu:after {
  content: "\25BE";
  opacity: 0;
}

#graph-menu:hover:after {
  opacity: 1;
}

#graph-icon {
  width: 15px;
}

#refresh {
  display: none;
  position: absolute;
  right: 10px;
}

#refresh:hover {
  cursor: pointer;
}

#remove {
  padding: 5px;
  float: right;
}

#remove:hover {
  cursor: pointer;
}

.buttons {
   float: right;
}

.btn {
  padding: 0px 8px;
  margin-bottom: 10px;
}