body {
  min-width: 1170px;
}

body * {
  box-sizing: border-box;
}

#edit-container {
  display: none;
  padding: 10px;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
}

#query-container {
  width: 38%;
  height: 220px;
  float: left;
  position: relative;
}

#list-container {
  width: 60%;
  height: 220px;
  float: right;
  position: relative;
}

#targets {
  margin-top: 5px;
  overflow: scroll;
  height: 165px;
}

.monospace {
  font-family: monospace;
}

#targets table tr td {
  vertical-align: middle;
  padding: 0px 5px;
}

#graph-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.5s;
}

#graph {
  position: absolute;
  top: 35px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
}

#source {
  font-family: monospace;
}

#query {
  width: 100%;
  height: 140px;
  font-family: monospace;
}

#shift {
  font-family: monospace;
  width: 100px;
}

#label {
  width: 150px;
}

.line-plus-bar-options {
  display: none;
}

.multi-options {
  display: none;
}

.table-options {
  display: none;
}

.chart-options {
  display: none;
}

.visible-options {
  display: inline-block;
}

#query-options {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#graph-options {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.interval {
  font-family: monospace;
  width: 50px;
}

#refresh {
  float: right;
  font-family: monospace;
  width: 80px;
}

#variables {
  width: 180px;
  height: 21px;
  display: none;
  font-family: monospace;
  vertical-align: top;
  position: absolute;
  margin-left: 10px;
  padding: 0px 5px;
  z-index: 1;
}

#chart {
  width: 200px;
  font-family: monospace;
}

#load-name {
  margin: 20px;
}

#graph-header {
  display: none;
  text-align: center;
}

#graph-title {
  text-align: left;
  margin-top: 10px;
  display: inline-block;
}

#graph-name:hover {
  cursor: pointer;
}

#graph-name:after {
  content: "\25BE";
  opacity: 0;
}

#graph-name:hover:after {
  opacity: 1;
}

#name br {
  display: none;
}

#edited {
  display: none;
  opacity: 0.3;
}

.icon {
  height: 16px;
}

.icon.faded {
  vertical-align: top;
  -webkit-filter: opacity(0.2);
  margin-top: 2px;
}

.icon.faded:hover {
  -webkit-filter: opacity(0.9);
}

.control {
  -webkit-filter: opacity(0.45);
}

.btn:hover .control {
  -webkit-filter: opacity(0.9);
}

.control.heavy {
  font-weight: bold;
  -webkit-filter: opacity(0.65);
}

.btn:hover .control.heavy {
  -webkit-filter: opacity(0.9);
}

select, input[type="text"] {
  height: 22px;
}

.alert {
  margin: 0;
}

#alerts {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

#refresh-graph {
  float: right;
  margin: 10px;
}

#refresh-graph:hover {
  cursor: pointer;
}

#toolbar {
  float: left;
  margin: 10px;
}

.toolbar:hover {
  cursor: pointer;
}

#help {
  margin: 5px;
  vertical-align: top;
}

#help:hover {
  cursor: pointer;
}

#remove {
  padding: 5px;
  float: right;
}

#remove:hover {
  cursor: pointer;
}

.buttons {
   float: right;
}

.btn {
  padding: 0px 8px;
  margin-bottom: 10px;
}

.btn-primary {
  padding: 0px 8px;
  margin-bottom: 10px;
}

.btn:disabled {
  pointer-events: none;
}

.ui-front {
  z-index: 1051;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 10px;
  color: #ccc;
}

.attribution a {
  color: #ccc;
}

.attribution:hover {
  color: #999;
}

.attribution:hover a {
  color: #999;
}