#graph-links {
  float: right;
  font-size: 12px;
}

#new-graph {
  padding-left: 5px;
}

#document-edit {
  display: none;
}

#style {
  width: 300px;
  height: 100px;
  font-family: monospace;
}

.graph-label {
  position: relative;
  height: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.table-label {
  padding-right: 10px;
}

#graph_name_chzn {
  width: 300px !important;
  margin-bottom: 10px;
}

#label {
  width: 300px;
}

#date-controls {
  position: absolute;
  top: 10px;
  left: 75px;
  z-index: 10;
}